<!--start l-contents-->
<div class="l-container u-clear">
    <!--start l-main-->
    <main class="l-main js-main">
        <div class="l-main-block"></div>
        <div class="archive">
            <ul class="archive-list">

            <% @articles.each do |a| %>
                <li class="archive-item">
                    <article class="card">
                        <a href='blog/<%=a.id%>' + #{a.id} class="card-link">
                            <% image_url = a.image.url %>
                            <%= image_tag(image_url, alt:"",class:"card-image") if a.image? %> 
                            <div class="card-bottom">
                                <h1 class="card-title"><%= a.title %></h1>
                                <time class="card-date" datetime="<%= a.created_at %>">
                                    <%= a.created_at.to_date.to_formatted_s(:rfc822) %>
                                </time>
                            </div>
                        </a>
                    </article>
                </li>
            <% end %>
                
                    
            </ul>
        </div>
        <a href="/archives" class="archive-button">
            <div class="button">
                <p class="button-text">More</p>
            </div>
        </a>
    </main>
    <!--end l-main-->

</div>
<!--end l-contents