    <!--start l-main-->
    <main class="l-main js-main">
        <div class="l-main-block"></div>
            <div class="single">
                <!-- <img src="./assets/images/sample1.jpg" alt="" class="single-image"> -->
                <% image_url = @article.image.url %>
                <%= image_tag(image_url, alt:"",class:"card-image") if @article.image? %> 
                <div class="l-container u-clear">
                    <h1 class="single-title"><%= @article.title %></h1>
                    <time class="single-date" datetime="<%=@article.created_at.to_date.to_formatted_s(:rfc822) %>"><%= @article.created_at.to_date.to_formatted_s(:rfc822) %></time>
                    <p class="single-desc">
                        <%= @article.contents %>
                    </p>
                    <a href="/" class="archive-button">
                        <div class="single-button">
                            <div class="button">
                                <p class="button-text">Top</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </main>
    <!--end l-main-->
</div>
<!--end l-contents-->

